astrolabe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Jürgen Schuck (MATERNA GmbH) -->
<xs:schema xmlns="http://www.cartacelestis.eu/astrolabe/model" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cartacelestis.eu/astrolabe/model" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="AstrolabeType">
		<xs:sequence>
			<xs:element ref="Date"/>
			<xs:element ref="Chart" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="Astrolabe" type="AstrolabeType"/>
	<xs:complexType name="ChartType">
		<xs:sequence>
			<xs:element ref="Horizon" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="pagesize" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="a[0-6]|[0-9]+(\.[0-9]+)?x[0-9]+(\.[0-9]+)?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="hemisphere" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="northern|southern"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Chart">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ChartStereographic"/>
				<xs:element ref="ChartOrthographic"/>
				<xs:element ref="ChartEquidistant"/>
				<xs:element ref="ChartGnomonic"/>
				<xs:element ref="ChartEqualarea"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChartStereographic" type="ChartType"/>
	<xs:element name="ChartOrthographic" type="ChartType"/>
	<xs:element name="ChartEquidistant" type="ChartType"/>
	<xs:element name="ChartGnomonic" type="ChartType"/>
	<xs:element name="ChartEqualarea" type="ChartType"/>
	<xs:complexType name="HorizonType">
		<xs:sequence>
			<xs:element ref="Latitude"/>
			<xs:element ref="Longitude" minOccurs="0"/>
			<xs:element ref="Date" minOccurs="0"/>
			<xs:element ref="Circle" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="practicality" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="none|never|seldom|sometimes|frequent|always"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Horizon">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="HorizonLocal"/>
				<xs:element ref="HorizonEquatorial"/>
				<xs:element ref="HorizonEcliptical"/>
				<xs:element ref="HorizonGalactic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizonLocal" type="HorizonType"/>
	<xs:element name="HorizonEquatorial" type="HorizonType"/>
	<xs:element name="HorizonEcliptical" type="HorizonType"/>
	<xs:element name="HorizonGalactic" type="HorizonType"/>
	<xs:complexType name="CircleType">
		<xs:sequence>
			<xs:element ref="Angle"/>
			<xs:element ref="Begin"/>
			<xs:element ref="End"/>
			<xs:element ref="Dial" minOccurs="0"/>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="importance" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="canonical|cardinal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Circle">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="CircleParallel"/>
				<xs:element ref="CircleMeridian"/>
				<xs:element ref="CircleSouthernPolar"/>
				<xs:element ref="CircleNorthernPolar"/>
				<xs:element ref="CircleSouthernTropic"/>
				<xs:element ref="CircleNorthernTropic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Begin">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Immediate"/>
				<xs:element ref="Reference"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="End">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Immediate"/>
				<xs:element ref="Reference"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Immediate" type="AngleType"/>
	<xs:element name="CircleParallel" type="CircleType"/>
	<xs:element name="CircleMeridian" type="CircleType"/>
	<xs:element name="CircleSouthernPolar" type="CircleType"/>
	<xs:element name="CircleNorthernPolar" type="CircleType"/>
	<xs:element name="CircleSouthernTropic" type="CircleType"/>
	<xs:element name="CircleNorthernTropic" type="CircleType"/>
	<xs:complexType name="DialType">
		<xs:sequence>
			<xs:element ref="GraduationSpan"/>
			<xs:element ref="GraduationHalf" minOccurs="0"/>
			<xs:element ref="GraduationFull" minOccurs="0"/>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="baseline" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="none|line|rail"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="reflect" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="Dial">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="DialAngle"/>
				<xs:element ref="DialTime"/>
				<xs:element ref="DialDate"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DialAngle">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DialType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DialTime" type="DialType"/>
	<xs:element name="DialDate">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DialType">
					<xs:attribute name="sun" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="apparent|mean|true"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GraduationType">
		<xs:sequence>
			<xs:element ref="AnnotationStraight" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="span" type="xs:double" use="required"/>
	</xs:complexType>
	<xs:element name="GraduationSpan">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="GraduationType">
					<xs:attribute name="division" type="xs:positiveInteger" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GraduationHalf">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="GraduationType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GraduationFull">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="GraduationType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AnnotationType">
		<xs:sequence>
			<xs:element ref="Text" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="purpose" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="obscure|circledescription|dialdescription|dialnumber|dialsubnumber|guidance"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="anchor" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="topleft|topmiddle|topright|middleleft|middle|middleright|bottomleft|bottommiddle|bottomright"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="radiant" type="xs:boolean" use="required"/>
		<xs:attribute name="reverse" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="Annotation">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="AnnotationStraight"/>
				<xs:element ref="AnnotationCurved"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnnotationStraight" type="AnnotationType"/>
	<xs:element name="AnnotationCurved">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AnnotationType">
					<xs:attribute name="distance" type="xs:double" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TextType">
		<xs:sequence>
			<xs:element ref="Subscript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Superscript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Text" type="TextType"/>
	<xs:element name="Subscript" type="TextType"/>
	<xs:element name="Superscript" type="TextType"/>
	<!--Basistypen und -elemente-->
	<xs:complexType name="RationalType">
		<xs:attribute name="value" type="xs:double" use="required"/>
	</xs:complexType>
	<xs:element name="Rational" type="RationalType"/>
	<xs:element name="JD" type="RationalType">
		<xs:annotation>
			<xs:documentation>Julianischer Tag.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="r" type="RationalType"/>
	<xs:complexType name="StringType">
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Reference">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="StringType">
					<xs:attribute name="node" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="ascending|descending"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DMSType">
		<xs:attribute name="deg" type="xs:integer" use="required"/>
		<xs:attribute name="min" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxExclusive value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sec" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0.0"/>
					<xs:maxExclusive value="60.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DMS" type="DMSType"/>
	<xs:complexType name="HMSType">
		<xs:attribute name="hrs" type="xs:integer" use="required"/>
		<xs:attribute name="min" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxExclusive value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sec" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0.0"/>
					<xs:maxExclusive value="60.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="HMS" type="HMSType"/>
	<xs:complexType name="YMDType">
		<xs:attribute name="y" type="xs:integer" use="required"/>
		<xs:attribute name="m" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="13"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="d" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="31"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="YMD" type="YMDType"/>
	<xs:complexType name="AngleType">
		<xs:choice>
			<xs:element ref="DMS"/>
			<xs:element ref="Rational"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Angle" type="AngleType">
		<xs:annotation>
			<xs:documentation>Azimuth bei CircleMeridian, Altitude bei CircleParallel.
Polar und Tropic ignorieren.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Latitude" type="AngleType">
		<xs:annotation>
			<xs:documentation>Nur bei HorizonLocal, ignoriert bei übrigen.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Longitude" type="AngleType"/>
	<xs:element name="HA" type="TimeType">
		<xs:annotation>
			<xs:documentation>Stundenwinkel.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="phi" type="AngleType"/>
	<xs:element name="theta" type="AngleType"/>
	<xs:complexType name="TimeType">
		<xs:choice>
			<xs:element ref="HMS"/>
			<xs:element ref="Rational"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Time">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="TimeUT"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeUT" type="TimeType"/>
	<xs:complexType name="DateType">
		<xs:sequence>
			<xs:element ref="YMD"/>
			<xs:element ref="Time" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Date">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="DateOccidental"/>
				<xs:element ref="JD"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateOccidental" type="DateType"/>
	<xs:complexType name="CartesianType">
		<xs:attribute name="x" type="xs:double" use="required"/>
		<xs:attribute name="y" type="xs:double" use="required"/>
		<xs:attribute name="z" type="xs:double" use="optional"/>
	</xs:complexType>
	<xs:element name="Cartesian" type="CartesianType"/>
	<xs:complexType name="PolarType">
		<xs:sequence>
			<xs:element ref="phi"/>
			<xs:element ref="r" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Polar" type="PolarType"/>
	<xs:complexType name="SphericalType">
		<xs:sequence>
			<xs:element ref="phi"/>
			<xs:element ref="theta"/>
			<xs:element ref="r" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Spherical" type="SphericalType"/>
</xs:schema>
