astrolabe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Jürgen Schuck (MATERNA GmbH) -->
<xs:schema xmlns="http://www.chartaecaeli.eu/astrolabe/model" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.chartaecaeli.eu/astrolabe/model" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="AstrolabeType">
		<xs:sequence>
			<xs:element ref="Epoch"/>
			<xs:element ref="Chart" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="locale" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([a-z][a-z])|([a-z][a-z]_[A-Z][A-Z])"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Astrolabe" type="AstrolabeType"/>
	<xs:element name="Epoch">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DateType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ChartAzimuthalType">
		<xs:sequence>
			<xs:element ref="Origin"/>
			<xs:element ref="Horizon" maxOccurs="unbounded"/>
			<xs:element ref="Atlas" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="pagesize" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="a[0-5]|[0-9]+(\.[0-9]+)?x[0-9]+(\.[0-9]+)?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="viewport" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:maxInclusive value="100"/>
					<xs:minExclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="layout" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[a-zA-Z]+|(((0|([1-9][0-9]*))(\.[0-9]*[1-9])?(:(0|([1-9][0-9]*))(\.[0-9]*[1-9])?)*)x((0|([1-9][0-9]*))(\.[0-9]*[1-9])?(:(0|([1-9][0-9]*))(\.[0-9]*[1-9])?)*))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="scale" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minExclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="hemisphere" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="northern|southern"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Chart">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="ChartStereographic"/>
				<xs:element ref="ChartOrthographic"/>
				<xs:element ref="ChartEquidistant"/>
				<xs:element ref="ChartGnomonic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Origin" type="SphericalType"/>
	<xs:element name="Extent" type="SphericalType"/>
	<xs:element name="ChartStereographic" type="ChartAzimuthalType"/>
	<xs:element name="ChartGnomonic" type="ChartAzimuthalType"/>
	<xs:element name="ChartOrthographic" type="ChartAzimuthalType"/>
	<xs:element name="ChartEquidistant" type="ChartAzimuthalType"/>
	<xs:complexType name="AtlasType">
		<xs:sequence>
			<xs:element ref="Origin"/>
			<xs:element ref="Extent"/>
			<xs:choice>
				<xs:element name="SpanDe" type="AngleType"/>
				<xs:element name="SpanRA" type="AngleType"/>
			</xs:choice>
			<xs:element ref="Catalog" maxOccurs="unbounded"/>
			<xs:element ref="AtlasPage" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pagesizex" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pagesizey" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="checker" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(([1-9]|([1-9][0-9]+))x([2-9]|([1-9][0-9]+)))|(([2-9]|([1-9][0-9]+))x([1-9]|([1-9][0-9]+)))"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="marshal" type="xs:anyURI" use="optional"/>
	</xs:complexType>
	<xs:element name="Atlas" type="AtlasType"/>
	<xs:complexType name="AtlasPageType">
		<xs:sequence>
			<xs:element name="P0" type="SphericalType"/>
			<xs:element name="P1" type="SphericalType"/>
			<xs:element name="P2" type="SphericalType"/>
			<xs:element name="P3" type="SphericalType"/>
			<xs:element ref="Origin"/>
			<xs:element name="Top" type="SphericalType"/>
			<xs:element name="Bottom" type="SphericalType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="scale" type="xs:double" use="optional"/>
		<xs:attribute name="p0x" type="xs:double" use="optional"/>
		<xs:attribute name="p0y" type="xs:double" use="optional"/>
		<xs:attribute name="p1x" type="xs:double" use="optional"/>
		<xs:attribute name="p1y" type="xs:double" use="optional"/>
		<xs:attribute name="p2x" type="xs:double" use="optional"/>
		<xs:attribute name="p2y" type="xs:double" use="optional"/>
		<xs:attribute name="p3x" type="xs:double" use="optional"/>
		<xs:attribute name="p3y" type="xs:double" use="optional"/>
		<xs:attribute name="originx" type="xs:double" use="optional"/>
		<xs:attribute name="originy" type="xs:double" use="optional"/>
		<xs:attribute name="topx" type="xs:double" use="optional"/>
		<xs:attribute name="topy" type="xs:double" use="optional"/>
		<xs:attribute name="bottomx" type="xs:double" use="optional"/>
		<xs:attribute name="bottomy" type="xs:double" use="optional"/>
		<xs:attribute name="tcp" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="bcp" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="pcp" type="xs:positiveInteger" use="optional"/>
		<xs:attribute name="fcp" type="xs:positiveInteger" use="optional"/>
	</xs:complexType>
	<xs:element name="AtlasPage">
		<xs:annotation>
			<xs:documentation>Automatisch generiert falls Atlas-Element in ChartType vorhanden ist</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AtlasPageType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HorizonType">
		<xs:sequence>
			<xs:element ref="Latitude"/>
			<xs:element ref="Longitude" minOccurs="0"/>
			<xs:element ref="Date" minOccurs="0"/>
			<xs:element ref="Circle" maxOccurs="unbounded"/>
			<xs:element ref="Body" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Catalog" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="practicality" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="none|never|seldom|sometimes|frequent|always"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Horizon">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="HorizonLocal"/>
				<xs:element ref="HorizonEquatorial"/>
				<xs:element ref="HorizonEcliptical"/>
				<xs:element ref="HorizonGalactic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizonEquatorial" type="HorizonType"/>
	<xs:element name="HorizonLocal">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="HorizonType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizonEcliptical">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="HorizonType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizonGalactic" type="HorizonType"/>
	<xs:complexType name="CircleType">
		<xs:sequence>
			<xs:element ref="Angle"/>
			<xs:element ref="Begin"/>
			<xs:element ref="End"/>
			<xs:element ref="Dial" minOccurs="0"/>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="fov" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="importance" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="canonical|cardinal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Circle">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="CircleParallel"/>
				<xs:element ref="CircleMeridian"/>
				<xs:element ref="CircleSouthernPolar"/>
				<xs:element ref="CircleNorthernPolar"/>
				<xs:element ref="CircleSouthernTropic"/>
				<xs:element ref="CircleNorthernTropic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MarkType">
		<xs:choice>
			<xs:element ref="Immediate"/>
			<xs:element ref="Reference"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Begin" type="MarkType"/>
	<xs:element name="End" type="MarkType"/>
	<xs:complexType name="ReferenceType">
		<xs:attribute name="circle" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^,]+"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="node" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="chasing|leading"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Reference">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ReferenceType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Immediate" type="AngleType"/>
	<xs:element name="CircleParallel" type="CircleType"/>
	<xs:element name="CircleMeridian" type="CircleType"/>
	<xs:element name="CircleSouthernPolar">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CircleType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CircleNorthernPolar">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CircleType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CircleSouthernTropic">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CircleType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CircleNorthernTropic">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CircleType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DialType">
		<xs:sequence>
			<xs:element ref="GraduationSpan"/>
			<xs:element ref="GraduationHalf" minOccurs="0"/>
			<xs:element ref="GraduationFull" minOccurs="0"/>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="baseline" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="none|line|rail"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="reflect" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="Dial">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="DialDegree"/>
				<xs:element ref="DialHour"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="DialDegree">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DialType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DialHour" type="DialType"/>
	<xs:element name="DialDay">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="DialType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="GraduationType">
		<xs:sequence>
			<xs:element ref="AnnotationStraight" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="span" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minExclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="GraduationSpan">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="GraduationType">
					<xs:attribute name="division" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:positiveInteger">
								<xs:minInclusive value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GraduationHalf">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="GraduationType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GraduationFull">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="GraduationType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AnnotationType">
		<xs:sequence>
			<xs:element ref="Text" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="anchor" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="topleft|topmiddle|topright|middleleft|middle|middleright|bottomleft|bottommiddle|bottomright"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="reverse" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="Annotation">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="AnnotationStraight"/>
				<xs:element ref="AnnotationCurved"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnnotationStraight">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AnnotationType">
					<xs:sequence>
						<xs:element name="Frame" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="anchor" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:pattern value="topleft|topmiddle|topright|middleleft|middle|middleright|bottomleft|bottommiddle|bottomright"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="number" type="xs:positiveInteger" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="radiant" type="xs:boolean" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnnotationCurved">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AnnotationType">
					<xs:attribute name="distance" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:double">
								<xs:minExclusive value="0"/>
								<xs:maxInclusive value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TextType">
		<xs:sequence>
			<xs:element ref="Subscript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Superscript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Text">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="TextType">
					<xs:attribute name="purpose" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="bodylettering[07]|titlelettering|textlettering|circlelettering|diallettering|dialcardinal|dialfraction|guidance|obscure|invisible|zenit|(mag([x]|(-?[0-9]+)))"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subscript" type="TextType"/>
	<xs:element name="Superscript" type="TextType"/>
	<xs:element name="Body">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="BodyStellar"/>
				<xs:element ref="BodyAreal"/>
				<xs:element ref="BodyPlanet"/>
				<xs:element ref="BodyMoon"/>
				<xs:element ref="BodySun"/>
				<xs:element ref="BodyElliptical"/>
				<xs:element ref="BodyParabolical"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BodyStellarType">
		<xs:sequence>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Text"/>
			<xs:element ref="Position"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="turn" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0"/>
					<xs:maxExclusive value="24"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="spin" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:maxInclusive value="0"/>
					<xs:minExclusive value="-24"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="BodyStellar" type="BodyStellarType"/>
	<xs:element name="Position">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SphericalType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BodyArealType">
		<xs:sequence>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Position" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="area|sign"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="BodyAreal">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BodyArealType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BodyOrbitalType">
		<xs:sequence>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Epoch" minOccurs="0"/>
			<xs:element ref="DialDay" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="stretch" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:element name="BodyPlanet">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BodyOrbitalType">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="mercury|venus|mars|jupiter|saturn|uranus|neptune"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BodyMoon" type="BodyOrbitalType"/>
	<xs:element name="BodySun">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BodyOrbitalType">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="mean|true"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="circle" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="[^,]+"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BodyElliptical">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BodyOrbitalType">
					<xs:attribute name="a" type="xs:double" use="required"/>
					<xs:attribute name="e" type="xs:double" use="required"/>
					<xs:attribute name="i" type="xs:double" use="required"/>
					<xs:attribute name="o" type="xs:double" use="required"/>
					<xs:attribute name="w" type="xs:double" use="required"/>
					<xs:attribute name="T" type="xs:double" use="required"/>
					<xs:attribute name="equinox" type="xs:double" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BodyParabolical">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BodyOrbitalType">
					<xs:attribute name="q" type="xs:double" use="required"/>
					<xs:attribute name="i" type="xs:double" use="required"/>
					<xs:attribute name="o" type="xs:double" use="required"/>
					<xs:attribute name="w" type="xs:double" use="required"/>
					<xs:attribute name="T" type="xs:double" use="required"/>
					<xs:attribute name="equinox" type="xs:double" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CatalogType">
		<xs:sequence>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Select" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="optional"/>
		<xs:attribute name="fov" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="url" type="xs:anyURI" use="required"/>
	</xs:complexType>
	<xs:complexType name="SelectType">
		<xs:sequence>
			<xs:element ref="Annotation" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^,]+(,[^,]+)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Select" type="SelectType"/>
	<xs:element name="Catalog">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="CatalogADC1239H"/>
				<xs:element ref="CatalogADC1239T"/>
				<xs:element ref="CatalogADC5050"/>
				<xs:element ref="CatalogADC6049"/>
				<xs:element ref="CatalogADC7118"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="CatalogADC1239H">
		<xs:annotation>
			<xs:documentation>The Hipparcos Catalogue.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CatalogType">
					<xs:sequence>
						<xs:element ref="Sign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="restrict" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="mag-?[0-9]+(,mag-?[0-9]+)*|[1-9][0-9]{0,6}(,[1-9][0-9]{0,6})*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CatalogADC1239T">
		<xs:annotation>
			<xs:documentation>The Tycho Catalogue.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CatalogType">
					<xs:sequence>
						<xs:element ref="Sign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="restrict" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="mag-?[0-9]+(,mag-?[0-9]+)*|[1-9][0-9]{0,3}-[1-9][0-9]{0,4}-[1-4](,[1-9][0-9]{0,3}-[1-9][0-9]{0,4}-[1-4])*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CatalogADC5050">
		<xs:annotation>
			<xs:documentation>The Bright Star Catalogue.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CatalogType">
					<xs:sequence>
						<xs:element ref="Sign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="restrict" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="mag-?[0-9]+(,mag-?[0-9]+)*|[1-9][0-9]{0,3}(,[1-9][0-9]{0,3})*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CatalogADC6049">
		<xs:annotation>
			<xs:documentation>Constellation Boundary Data. Equinox 2000.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CatalogType">
					<xs:attribute name="restrict" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(AND|ANT|APS|AQL|AQR|ARA|ARI|AUR|BOO|CAE|CAM|CAP|CAR|CAS|CEN|CEP|CET|CHA|CIR|CMA|CMI|CNC|COL|COM|CRA|CRB|CRT|CRU|CRV|CVN|CYG|DEL|DOR|DRA|EQU|ERI|FOR|GEM|GRU|HER|HOR|HYA|HYI|IND|LAC|LEO|LEP|LIB|LMI|LUP|LYN|LYR|MEN|MIC|MON|MUS|NOR|OCT|OPH|ORI|PAV|PEG|PER|PHE|PIC|PSA|PSC|PUP|PYX|RET|SCL|SCO|SCT|SER1|SER2|SEX|SGE|SGR|TAU|TEL|TRA|TRI|TUC|UMA|UMI|VEL|VIR|VOL|VUL)(,(AND|ANT|APS|AQL|AQR|ARA|ARI|AUR|BOO|CAE|CAM|CAP|CAR|CAS|CEN|CEP|CET|CHA|CIR|CMA|CMI|CNC|COL|COM|CRA|CRB|CRT|CRU|CRV|CVN|CYG|DEL|DOR|DRA|EQU|ERI|FOR|GEM|GRU|HER|HOR|HYA|HYI|IND|LAC|LEO|LEP|LIB|LMI|LUP|LYN|LYR|MEN|MIC|MON|MUS|NOR|OCT|OPH|ORI|PAV|PEG|PER|PHE|PIC|PSA|PSC|PUP|PYX|RET|SCL|SCO|SCT|SER1|SER2|SEX|SGE|SGR|TAU|TEL|TRA|TRI|TUC|UMA|UMI|VEL|VIR|VOL|VUL))*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CatalogADC7118">
		<xs:annotation>
			<xs:documentation>NGC 2000.0, The Complete New General Catalogue and Index Catalogue of Nebulae and Star Clusters.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="CatalogType">
					<xs:sequence>
						<xs:element ref="Sign" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:attribute name="restrict" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="mag-?[0-9]+(,mag-?[0-9]+)*|I?[1-9][0-9]{0,3}(,I?[1-9][0-9]{0,3})*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SignType">
		<xs:sequence>
			<xs:element ref="Annotation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[^:,]+:[^:,]+(:[^:,]+)*(,[^:,]+:[^:,]+(:[^:,]+)*)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="headline" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[1-9][0-9]*(,[1-9][0-9]*)*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Sign" type="SignType"/>
	<!--Basistypen und -elemente-->
	<xs:complexType name="RationalType">
		<xs:attribute name="value" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Rational" type="RationalType"/>
	<xs:element name="JD" type="RationalType">
		<xs:annotation>
			<xs:documentation>Julianischer Tag.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="r" type="RationalType"/>
	<xs:complexType name="DMSType">
		<xs:attribute name="deg" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxExclusive value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sec" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0.0"/>
					<xs:maxExclusive value="60.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DMS" type="DMSType"/>
	<xs:complexType name="HMSType">
		<xs:attribute name="hrs" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="min" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0"/>
					<xs:maxExclusive value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sec" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:double">
					<xs:minInclusive value="0.0"/>
					<xs:maxExclusive value="60.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="HMS" type="HMSType"/>
	<xs:complexType name="YMDType">
		<xs:attribute name="y" type="xs:integer" use="required"/>
		<xs:attribute name="m" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="13"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="d" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="31"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="YMD" type="YMDType"/>
	<xs:complexType name="AngleType">
		<xs:choice>
			<xs:element ref="DMS"/>
			<xs:element ref="HMS"/>
			<xs:element ref="Rational"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Angle" type="AngleType">
		<xs:annotation>
			<xs:documentation>Azimut bei CircleMeridian, Höhe bei CircleParallel.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Latitude" type="AngleType">
		<xs:annotation>
			<xs:documentation>Nur bei HorizonLocal relevant.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Longitude" type="AngleType">
		<xs:annotation>
			<xs:documentation>Nur bei HorizonLocal relevant.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HA" type="TimeType">
		<xs:annotation>
			<xs:documentation>Stundenwinkel.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="phi" type="AngleType"/>
	<xs:element name="theta" type="AngleType"/>
	<xs:complexType name="TimeType">
		<xs:choice>
			<xs:element ref="HMS"/>
			<xs:element ref="Rational"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Time" type="TimeType">
		<xs:annotation>
			<xs:documentation>UTC</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DateType">
		<xs:choice>
			<xs:element ref="Calendar"/>
			<xs:element ref="JD"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Date" type="DateType"/>
	<xs:complexType name="CalendarType">
		<xs:sequence>
			<xs:element ref="YMD"/>
			<xs:element ref="Time" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Calendar" type="CalendarType"/>
	<xs:complexType name="CartesianType">
		<xs:attribute name="x" type="xs:double" use="required"/>
		<xs:attribute name="y" type="xs:double" use="required"/>
		<xs:attribute name="z" type="xs:double" use="optional"/>
	</xs:complexType>
	<xs:element name="Cartesian" type="CartesianType"/>
	<xs:complexType name="PolarType">
		<xs:sequence>
			<xs:element ref="phi"/>
			<xs:element ref="r" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Polar" type="PolarType"/>
	<xs:complexType name="SphericalType">
		<xs:sequence>
			<xs:element ref="phi"/>
			<xs:element ref="theta"/>
			<xs:element ref="r" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Spherical" type="SphericalType"/>
</xs:schema>
